.form-container {
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
  background-color: #ffffff;
}

.form-container__lead-text {
  margin: 0;
  margin-bottom: 26px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: 768px) {
  .form-container {
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }

  .form-container__lead-text {    
    margin-bottom: 24px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .form-container {
    padding-top: 120px;    
  }

  .form-container__lead-text {
    width: 700px;
    margin-bottom: 24px;
    margin-left: 175px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}
