.good-card {
  margin-bottom: 30px;
  
  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.good-card:last-of-type {
  margin-bottom: 0;    
}

.good-card__image-wrapper {
  background-color: #ededed;
  display: block;
  width: 260px;
  height: 195px;
}

.good-card__description {
  padding-top: 28px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
}

.good-card__name {
  margin: 0; 
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.good-card__parameters {
  margin: 0;  
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 13px;
  color: #444444;
}

.good-card__buy-area {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
}

.good-card__price {
  margin: 0;
  font-weight: 700;
}

.good-card__buy-btn {
  width: 74px;
  height: 74px;
  background-color: transparent;
  background-image: url("../../img/cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.2;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: #f8f8f8;
    background-image: url("../../img/cart-green.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .good-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    width: 668px;
    min-height: 334px;
  }  

  .good-card__image-wrapper {
    width: 334px;
    min-height: 334px;
  }

  .good-card__description {
    width: 334px;
    display: flex;
    flex-direction: column;
  }

  .good-card__name {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .good-card__parameters {
    font-size: 15px;
  }

  .good-card__buy-area {
    margin-top: auto;
  }

  .good-card__price {
    font-size: 17px;
  }

}

@media (min-width: 1150px) {
  .good-card {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
    width: 315px;    
  }

  .good-card__image-wrapper {
    width: 315px;
    min-height: 462px;
  }

  .good-card__description {
    width: 315px;
    min-height: 206px;
    box-sizing: border-box;    
  }
}
