.main-screen {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 489px;
  background-color: #ffffff;
  background-image: url("../../img/hero-mobile.jpg");
  background-repeat: no-repeat;
}

.main-screen__lead-text {
  margin: 0;
  padding: 0;
  margin-top: 68px;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
}