.order-form__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
}

.order-form__fieldname {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  margin-bottom: 26px;
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-form__list-item {
  margin-bottom: 24px;
}

.order-form__list-item:last-of-type {
  margin-bottom: 0;
}

.order-form__text-input,
.order-form__tel-input,
.order-form__email-input,
.order-form__details {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;  
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;
}

.order-form__tel-input,
.order-form__email-input {
  padding-top: -0px;
}

.order-form__details {
  min-height: 142px;
  padding: 15px;
  border: 2px solid #444444;
}

.order-form__text-input::placeholder,
.order-form__tel-input::placeholder,
.order-form__email-input::placeholder,
.order-form__details::placeholder {
  font-size: 17px;
  color: #c7c7c7;
}

.order-form__remark {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: 768px) {
  .order-form {
    display: flex;
    flex-direction: column;
  }

  .order-form__fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  .order-form__fieldset--altcolor {
    padding-top: 66px;
    padding-bottom: 42px;
    background-color: #f1f1f1;
  }

  .order-form__fieldname {
    width: 167px;
  }

  .order-form__list {
    width: 501px;
  }

  .order-form__list--checkboxes {
    display: flex;
    flex-wrap: wrap;

    .order-form__list-item {
      width: 250px;
    }
  }

  .order-form__list--name {

    .order-form__list-item{
      display: flex;
      align-items: center;
    }
  }

  .order-form__list--tel-list {
    margin-bottom: 40px;
  }

  .order-form__text-label {
    margin-right: 26px;
  }

  .order-form__tel-input {
    background-color: transparent;
  }

  .order-form__email-input {
    background-color: transparent;
  }

  .order-form__button-wrapper {
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-form__remark {
    margin: 0;
    order: 2;
  }

  .order-form__button {
    width: 230px;
    order: 1;
  }
}

@media (min-width: 1150px) {
  .order-form__fieldname {
    width: 175px;
    text-align: center;
  }

  .order-form__list {
    width: 700px;
  }

  .order-form__list--tel-list {
    margin-right: 20px;
  }

  .order-form__list--checkboxes {
    width: 875px;
    .order-form__list-item {
      width: 262px;
    }
  }

  .order-form__button-wrapper {
    padding-right: 225px;
    padding-left: 225px;    
  }
}
