.page-header {
	min-height: 80px;
	box-sizing: border-box;
	background-color: #ffffff;
}

.page-header__top-head {
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
	box-sizing: border-box;
	min-height: 80px;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
} 

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-header {
		position: relative;		
		border-bottom: 1px solid #ececec;
	}

	.main-nav-wrapper {
		min-height: 90px;		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.page-header__top-head {
		padding-right: 50px;
		padding-left: 50px;
		border: none;
	}
}
