.production {
  padding-bottom: 60px;
  background-color: #ffffff;
}

.production__title-box {
  padding: 28px 30px;
  border: 1px solid #ececec;  
}

.production__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.production__description {
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border: 1px solid #ececec;
}

.production__text {
  margin: 0;
  margin-bottom: 28px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

