.reviews {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.reviews__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__item {
  margin: 0;
  padding: 0;  
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-nick {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__switches {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.reviews__btn {
  box-sizing: border-box;
  width: 50%;
  min-height: 50px;
  border: 1px solid #ececec;
  background-color: transparent;
}





